<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <center>
    <div class="col-md-12">
	    <h1>STRIPE EVENTS</h1>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th>Time</th>
          <th>Type</th>
          <th>Payload</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].time %></td>
             <td><%= data[i].type %></td>
             <td><code class="prettyprint"><%=JSON.stringify(data[i].payload)%></code></td>
           </tr>
         <% } %>
      </table>
      </div>
    </div>
  </div>
</div>


</body>
</html>
